:root {
  --back-color:rgb(22, 22, 49);
}

html body {
    background-color: var(--back-color);
    align-items: center;
    overflow-x: hidden;
}

.main-title {
    text-align: center;
    margin-top: 1em;
    font-size: larger;
    color: whitesmoke;
    opacity: 0;
    transform: translateY(3rem);
    transition: ease-in 0.2s;
    animation: fadeInUp 1.5s ease forwards;
}

.main-title:hover {
  scale: 1.1;
}

.sub-text {
    vertical-align: middle;
    text-align: center;
    color:whitesmoke;
    font-size: 2rem;  
    opacity: 0;
    transform: translateY(10rem);
    animation: fadeInUp 1.5s ease forwards
}

.sub-text span {
    color: #00c2fc !important;
    font-size: 1.2rem;
}

.sub-text span:hover {
    /* bolden color */
    font-weight: 700;

}

.search-entry {
    font-size: larger;
}

.calc-method-label {
  color: whitesmoke;
  font-size: larger;
  margin-top: 1em;
}


.loading .spinner-grow {
  height: 7rem;
  width: 7rem;
  display: none;
}

.center-block {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

.form-field {
    text-align: center;
    background: var(--back-color);
    padding: 60px 200px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.btn-outline-primary {
  border-width: 2px !important;
  font-weight: 400!important;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
  
 