<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DGNMD4EBXP"></script>
<script>
   const cyrb53 = function(str, seed = 0) {
   let h1 = 0xdeadbeef ^ seed,
      h2 = 0x41c6ce57 ^ seed;
   for (let i = 0, ch; i < str.length; i++) {
      ch = str.charCodeAt(i);
      h1 = Math.imul(h1 ^ ch, 2654435761);
      h2 = Math.imul(h2 ^ ch, 1597334677);
   }
   h1 = Math.imul(h1 ^ h1 >>> 16, 2246822507) ^ Math.imul(h2 ^ h2 >>> 13, 3266489909);
   h2 = Math.imul(h2 ^ h2 >>> 16, 2246822507) ^ Math.imul(h1 ^ h1 >>> 13, 3266489909);
   return 4294967296 * (2097151 & h2) + (h1 >>> 0);
};

	let clientIP = "{{user_ip}}";
let validityInterval = Math.round (new Date() / 1000 / 3600 / 24 / 4);
let clientIDSource = clientIP + ";" + window.location.host + ";" + navigator.userAgent + ";" + navigator.language + ";" + validityInterval;
let clientIDHashed = cyrb53(clientIDSource).toString(16);

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'G-DGNMD4EBXP', {
   'storage': 'none',
   'clientId': clientIDHashed
});
ga('set', 'anonymizeIp', true);
ga('send', 'pageview');
</script>
    {% from 'search-form.html' import search_form %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find prayer times worldwide with many different calculation methods" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="main-title">
        <h1 id="title" onclick="window.location.href ='/' ">Prayer Times</h1>
        <br>
        <br>
    </div>
    <div class="loading d-flex justify-content-center">
        <div id="loading" class="spinner-grow text-info" role="status">
        </div>
    </div>

    <!--If a location has been recived, load all the prayer times-->
    <div id="main-body">
        {% if prayerObj %}
        {% if prayerObj.error %}
        <title>Invalid Location - Prayer Times</title>
        <div class="sub-text">
            <small>Sorry, couldn't find that location</small>
        </div>
        {% else %}
        {% for prayer in prayerObj.prayers %}
        <div class="sub-text mb-3">
            <strong><i>{{ prayer[0] }} : {{ prayer[1].replace('%', ' ') }} </i></strong>
        </div>
        {% endfor %}
        <title>{{ location or prayerObj.city}} Prayer Times</title>

        <div class="sub-text">
            <small>{{location or prayerObj.city}}</small>
            <br>
                <span><i onclick="findLocation()">Wrong location?</i></span>
        </div>
        {% endif %}

        {{ search_form() }}

        {% else %}
        <!--If a prayerObj has not been passed, put the home html and the script for geolocation-->
        <title>Prayer Times</title>
        <div class="sub-text">
            Enter a Location
            <br>
            <small>Or Allow Location - Please let it load</small>
        </div>

        {{ search_form() }}

        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                findLocation()
            });    
        </script>
        {% endif %}

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </div>
</body>

</html>
