{% macro search_form(refresh_btn) %}
<div class='form-field vstack gap-2 col-md-5 mx-auto'>
    <input class="search-entry, form-control, form-control-lg" id="search" name="search"
        placeholder="Search for a location" required type="text">

    <div class='mt-4'>
        <input id="search-sub" type="button" class="btn btn-primary btn-outline" value="Find Prayer Times">
        <br>
        <span id="search-error" style="color: #28abff;">
            <br>
            <input id="refresh-opts" type="button" class="btn btn-info btn-outline" value="Refresh Calculation Methods">

        </span>
    </div>
    <label class="calc-method-label" for="options">Calculation Method</label>
    <select class="form-control mx-auto col-md-2 mt-2" id="options" name="options" placeholder="Calculation Method">
        <option value="1">Karachi</option>
        <option value="0">Jafari</option>
        <option value="2">ISNA</option>
        <option value="3">MWL</option>
        <option value="4">Mecca</option>
        <option value="5">Egyptian</option>
        <option value="7">Tehran</option>
        <option value="8">Algerian</option>
        <option value="9">Gulf Fixed Isha</option>
    </select>

    <label class="calc-method-label" for="options">Asr Method</label>
    <select class="form-control mx-auto col-md-2 mt-2" id="asr-options" name="asr-options"
        placeholder="Asr Calculation Method">
        <option value="0">Standard (Shafi, Hanbali, Maliki)</option>
        <option value="1">Hanafi</option>
    </select>
    <label style="font-size: 1.3rem;"class="text-primary mt-5">Please help keep salah.faith ad and cookie free</label>
    <br>
    <a target="_blank" href="https://www.buymeacoffee.com/aamohammedc"><img style="margin-top: 0.5rem;"
            src="https://img.buymeacoffee.com/button-api/?text=Buy me a pizza&emoji=🍕&slug=aamohammedc&button_colour=729fcf&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>

</div>
</div>
{% endmacro %}